# ============================================
# Tally API - Variables de entorno
# Copia este archivo a .env y completa los valores
# ============================================

# --- Base de datos (la app se conecta aquí) ---
DATASOURCE_URL=jdbc:mysql://localhost:3306/tally_db

# --- Base de datos (Docker Compose local) ---
ROOT_PASS=password_root
MYSQL_DATABASE=tally_db

# --- Credenciales para acceder a la base de datos ---
DATASOURCE_USERNAME=tally_user
DATASOURCE_PASSWORD=cambia_la_contraseña

# --- JWT ---
# Genera una clave segura, para generar una en terminal usa:  openssl rand -base64 64
JWT_SECRET=replace_with_a_long_random_base64_string
JWT_EXPIRATION=86400000

# --- Resend (email transaccional) necesario para recibir los mails---
# Obtén tu API key en https://resend.com
RESEND_API_KEY=re_xxxxxxxxx
RESEND_FROM_EMAIL=onboarding@resend.test
FRONTEND_VERIFICATION_URL=http://localhost:5173/verify

HIBERNATE_DDL=update
SHOW_SQL=true
FORMAT_SQL=true
